@charset "UTF-8";
body{
	background-color:#eeeeee;
	
}
input,r1,c1{
	border:1px solid black;
	margin:10px auto;
	
}
.mybutton{
	margin:10px auto;
	border:2px solid green;
	
}
.mybutton:hover{
	background-color:red;
}
